<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279190733000-4tn17b4p83tcc88hc0v3d0m9jqekm5vd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279190733000-4tn17b4p83tcc88hc0v3d0m9jqekm5vd</string>
	<key>API_KEY</key>
	<string>AIzaSyCXZyQ1G_IL5DKFw9rPbPztCc-9SHG8HF8</string>
	<key>GCM_SENDER_ID</key>
	<string>279190733000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finleprojectflutter</string>
	<key>PROJECT_ID</key>
	<string>finle-project-app</string>
	<key>STORAGE_BUCKET</key>
	<string>finle-project-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279190733000:ios:ece96e75ac9d57894365fd</string>
</dict>
</plist>